---
import Layout from '../layouts/Layout.astro';
import SinglePriceCard from '../components/SinglePriceCard.astro';
---

<Layout title="Single Price Grid">
	<main class="min-h-screen flex items-center justify-center">
		<SinglePriceCard />
	</main>
</Layout>

